header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el encabezado esté siempre visible */
}

body.welcome {
    margin: 0;
    padding-top: 90px; /* Asegura que el contenido no se superponga al header */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/login_school.jpg') no-repeat center center fixed;
    background-size: cover;
    gap: 100px;
}

.boton_modulo {
background-color: rgba(255, 255, 255, 0.8);
padding: 1.5rem;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
max-width: 250px;
width: 250px; /* Ancho fijo */
height: 300px; /* Altura fija */
text-align: center;
display: flex; /* Alineación para centrar */
flex-direction: column; /* Para que la imagen y texto estén en columna */
justify-content: space-between; /* Espaciado uniforme */
align-items: center; /* Centrar el contenido horizontalmente */
transition: background-color 0.3s ease, transform 0.2s ease;
}
.boton_modulo:hover {
    background-color: rgba(200, 200, 200, 0.9); /* Color de fondo al pasar el ratón */
    transform: scale(1.05); /* Efecto de agrandar ligeramente */
    cursor: pointer; /* Cambia el cursor a mano */
}
.boton_modulo img {
width: 80%; /* Ajusta el ancho de la imagen para mantener proporciones */
height: auto;
max-height: 150px; /* Altura máxima para evitar desbordamiento */
object-fit: contain;
margin-bottom: 10px;
}

.boton_modulo span {
font-size: 16px; /* Tamaño uniforme para el texto */
line-height: 1.5;
color: #333; /* Color del texto */
}